.eye {
  &--blink-static {
    animation-name: blink-static;
    transform-origin: center bottom;
  }
}

@keyframes blink-static {
  0%,
  4%,
  12%,
  15%,
  23% {
    transform: scale(1) translateY(0);
    border-radius: $eye-radius;
  }

  7%,
  18% {
    transform: scale(1.5, 0.1) translateY(50px);
    border-radius: 50% 50% 10% 10%;
  }
}
