.eye {
  &--blink-move {
    animation-name: blink-move;
    transform-origin: center bottom;
  }
}

@keyframes blink-move {
  0% {
    border-radius: $eye-radius;
  }

  7% {
    transform: scale(1) translateY(0) translateX(0);
    border-radius: $eye-radius;
  }

  10% {
    transform: scale(1.5, 0.1) translateY(50px) translateX(calc(200px * var(--rng)));
    border-radius: 50% 50% 10% 10%;
  }

  15% {
    transform: scale(1) translateY(0) translateX(calc(200px * var(--rng)));
    border-radius: $eye-radius;
  }

  75% {
    transform: scale(1) translateY(0) translateX(calc(200px * var(--rng)));
    border-radius: $eye-radius;
  }

  78% {
    transform: scale(1) translateY(0) translateX(calc(100px * var(--rng)));
    border-radius: $eye-radius;
  }

  81% {
    transform: scale(1.5, 0.1) translateY(50px) translateX(0);
    border-radius: 50% 50% 10% 10%;
  }

  86% {
    transform: scale(1) translateY(0) translateX(0);
    border-radius: $eye-radius;
  }
}
