.eye {
  &--idle {
    animation-name: idle;
    transform-origin: center bottom;
  }
}

@keyframes idle {
  0%,
  10%,
  55%,
  70%,
  95% {
    transform: translateX(0);
  }

  15%,
  50%,
  75%,
  90% {
    transform: translateX(calc(10px * var(--rng)));
  }
}
