.eye {
  &--smile {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform-origin: center bottom;

    &.eye--left {
      animation-name: smile-left-eye;
    }

    &.eye--right {
      animation-name: smile-right-eye;
    }
  }
}

@keyframes smile-left-eye {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    border-radius: $eye-radius;
  }

  3% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform: scale(1.5, 0.1) translateY(50px);
    border-radius: 50% 50% 10% 10%;
  }

  7% {
    clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 30%, 50% 40%);
    transform: scale(1.5, 0.6) translateY(-100%);
    border-radius: 50%;
  }

  70% {
    clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 30%, 50% 40%);
    transform: scale(1.5, 0.6) translateY(-100%);
    border-radius: 50%;
  }

  74% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform: scale(1.5, 0.1) translateY(50px);
    border-radius: 50% 50% 10% 10%;
  }

  77% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform: scale(1);
    border-radius: $eye-radius;
  }
}

@keyframes smile-right-eye {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    border-radius: $eye-radius;
  }

  3% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform: scale(1.5, 0.1) translateY(50px);
    border-radius: 50% 50% 10% 10%;
  }

  7% {
    clip-path: polygon(0% 30%, 0% 0%, 100% 0%, 100% 50%, 50% 40%);
    transform: scale(1.5, 0.6) translateY(-100%);
    border-radius: 50%;
  }

  70% {
    clip-path: polygon(0% 30%, 0% 0%, 100% 0%, 100% 50%, 50% 40%);
    transform: scale(1.5, 0.6) translateY(-100%);
    border-radius: 50%;
  }

  74% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform: scale(1.5, 0.1) translateY(50px);
    border-radius: 50% 50% 10% 10%;
  }

  77% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform: scale(1);
    border-radius: $eye-radius;
  }
}
