<h2 class="mt-10 mb-3" id="cryo-freeze">Cryo-freeze</h2>
<p>
  Cryo-freeze has so many different uses that it's difficult to go over all of them. A lot of it comes down to experience and playstyle. However let's go over some common and less common uses. We'll start off with some statistics.
</p>
<ul>
  <li>It heals 37.5 Health per second.</li>
  <li>It lasts for 4 seconds, or until cancelled</li>
  <li>It has a 12 second cooldown that starts from the moment you enter Cryo-freeze</li>
</ul>
<p>
  A full Cryo-freeze will heal for 150 Health. But healing is not the primary use. Most of the time you will be using your Cryo-freeze to block and dodge abilities. An extra 150 Health is nice, but it means nothing if you get killed anyway. The major downside is sitting still for 4 seconds, this allow your enemy to plan ahead, call their buddies, and regain their cooldowns. In many cases it is more advantageous to try and block an ability that an enemy relies on to kill you. Such as Shatterarrow or Flashbang.
</p>
<p>
  However this is not always the case. In some cases you are better off healing yourself to the max. For one, a full heal gains you about 10% Ultimate charge. Another use case is stalling. 4 Seconds is a lot of time for your teammates to group and and restabilise. It can also be useful in combination with your ultimate. When you have used your ultimate and an enemy knows they can't escape (Either because they have used their escape already, or because they don't have one) they will throw everything they have on you to try and kill you. In this case it is better to wait until they are stunned and you can safely take them out.
</p>
<p>
  Of course all of these scenarios are highly situational. Your cryo-freeze usuage very much comes down to your playstyle and experience. Judge situations properly and have a plan from the moment you enter your cryo-freeze. Don't be afraid to use it for just a fraction of a second, in many cases your healers will have your back and you do not need to worry about healing yourself.
</p>
<p>
  When you are in your cryo-freeze and the enemy is waiting around for you to come out, don't let them make the first move. Break your cryo-freeze early to make sure they can't time their abilities.
</p>
