<h2 class="mt-10 mb-3">Endothermic Blaster</h2>

<h3 class="mt-0 mb-3">Freeze</h3>
<p>
  This ability seems pretty straight forward on first sight. You fire out a cone, slow your targets, and eventually freeze those unlucky enough to be affected for a certain amount of time. However when looking at it closely, the ability might be very different than expected. Let's go over some stats.
</p>
<ul>
  <li>45 damage per second, or 2.25 damage per ammo. Coming up to 20 ammo per second.</li>
  <li>30 ammo to freeze someone.</li>
  <li>10 Meters maximum range.</li>
  <li>Projectile speed of 20 meters per second.</li>
  <li>Reload time of 1.5 seconds.</li>
  <li>Total stun duration of 1.5 seconds.</li>
  <li>Slow starts to degrade after 1.5 seconds.</li>
  <li>Slow degrades over 1.5 seconds (At maximum freeze).</li>
</ul>

<p>
  As you might be able to tell, a lot of these stats depend on eachother. It takes 1.5 seconds to freeze someone, to reload, the stun lasts 1.5 seconds, and the freeze degrades over 1.5 seconds. This means reloading leaves no time to continue freezing or to fire one more shot at a stunned target. Also note, freezing a target takes 1.5 seconds but only when the freeze is never interrupted. Missing the targets for a fraction of a second will result in the slow degrading, and thus a longer time to slow.
</p>
<p>
  Something you may not have known is the fact that the gun actually has a rather slow projectile speed. At a maximum range of 10 meters it takes 0.5 seconds for the freeze to reach its target. This also means you can stop freezing someone a fraction earlier than you might expect, as some of the spray is still traveling. Timing this correct can result in being able to land 2 easy headshots on a stunned target, more on this later.<br>
  This also has some interesting results when trying to fire while walking. If you are chasing someone you reach isn't actually 10 meters. In the 0.5 seconds it takes for the freeze to reach, you will have walked in to it, and thus lowered the effective range. When walking backwards this effect is reversed, allowing for a higher effective range. This isn't something that comes in to play often, but it's something to consider.
</p>
<p>
  Because the freeze is based on ammo (or ticks) fired on a target, damage boosts do not decrease the time it takes to freeze a target. Because of this it might be more efficient to use your Icicle (right click) when affected by Ana's ultimate. But in general damage boosts should never be deliberately applied to you, as they have little effect.<br>
  <strong>The freeze time and damage dealt are not affected by headshots.</strong>
</p>
<p>
  Even though the effect might suggest otherwise, the spray only affects the first target it hits. Making it impossible to freeze multiple targets with one continuous blast. However, it is possible to stun more than one target at once. This can be done by gradually swapping target until both are near the freezing point, at which point you can stun one after another. In practice this has very little use, but learning to do this properly can give you a better understanding of how the freeze works. I highly suggest trying this in practice mode.
</p>

<h3 class="mt-5 mb-3">Icicle</h3>
<p>
  Of course this works great together with your freeze. Freeze a target, and headshot them. This can be all you use the icicle for, and you will have decent results. But the ability has a little more depth than that. Let's look at some stats again.
</p>
<ul>
  <li>Deals 75-22 damage, based on distance</li>
  <li>Damage stats to fall off at 26 meters, up to a minumum damage at 55 meters.</li>
  <li>A shot takes 20 ammo</li>
  <li>Charging a shot takes 0.4 seconds.</li>
  <li>Mei can fire 1.2 shots per second.</li>
  <li>A single headshot grants you 10% Ultimate charge.</li>
</ul>
<p>
  Since the damage falls off rather quickly, playing Mei as a sniper is not exactly viable. You will need to get in close and personal. Since the shots are rather slow and hard to hit, you will need to use this in combination with your freeze. Against low health targets fully freezing a target is not always necessary. Simply slowing the target enough to easily headshot someone can be enough.
</p>
<p>
  <strong>During a stun you have time to land 2 headshots as long as you time it right.</strong> Practicing this timing is key to becoming a better Mei. You can kill any non-tank with a single freeze. As talked about in the previous chapter, your freeze has a travel time. You can start charging your shot in the time it takes for the rest of the freeze to arrive. This can result in being able to land these two easier, for up to a total of 300 damage off of icicle alone, 380 with your freeze combined.
</p>
<p>
  For 200 health targets one headshot (in combination with your freeze) is enough to kill. For 250 health targets you will be dealing 230 damage with a normal combo. Follow this combo with a melee attack to finish off the target. Even though this is enough to kill them, in many cases it can be a good idea to go for the double headshot instead, as a quick heal might just put them out of range.
</p>
<p>
  With more advanced tactics you can also kill a high health target with a single stun. Freeze the target until they are almost stunned, land a headshot, finish the freeze and land two more headshots. This results in 550 damage, allowing you to land one more bodyshot for the kill. This can all be done in about 3.5 seconds. Of course most tanks have a way of preventing this, such as a Zarya bubble or a Roadhog heal. Key is to know what your targets have used and are capable of doing.
</p>
<p>
  Always go in to a fight knowing your limits and your targets limits. Don't rely on thinking you are better than your target, rely on pure statistics to take out your targets. I will go more in-depth on this in a later chapter.
</p>
<p class="font-bold">
  Understanding the timing of your stun is crucial to land double headshots with a single stun. Once you get a good feel for it you will be able to reliably double hit any target.
</p>
