<h2 class="mt-5 mb-3" id="hanamura">Hanamura</h2>

<h3 class="mt-5 mb-3">Defense</h3>

<p class="font-italic text-large mb-5">Hanamura is a perfect example for when to use Mei. Especially the first point. If you're trying how to learn to play Mei properly on defense, Hanamura is a great place to start</p>

<h4 class="mb-1">Objective A</h4>
<span class="text-small mb-2 font-italic">Difficulty: Easy</span>

<p>
  This is an example for a perfect point to play Mei on. Everything seems to be designed with Mei in mind. Every choke point and door are perfectly sized for your Ice Wall. On the point you could never fire a single shot, and still contribute to your team in a massive way. There are 2 ways for the enemy to get through the first choke point. The main door, and the little window besides it. Many heroes cannot access the little window, so it is usually best to focus on the main door. Your wall fills the gap perfectly.<br>
  There are many positions to defend from, and it all depends on the enemy team composition and your team composition. Let's go over all the often used positions.
</p>

<%= link_to image_url("hanamura/hanamura_defense_a_1.jpg"), target: "_blank", class: "block b-0 my-4" do %>
  <%= image_tag "hanamura/hanamura_defense_a_1.jpg", class: "block mb-3 h-auto w-1/1" %>
<% end %>

<h5 class="mb-1">Point 1</h5>
<p class="mt-0">
  You can get up to this point using your walls. The high ground allows you see easily see both entrances. The advantage here is that you are relatively safe. The enemy won't expect you here, and even if you do, there are 2 large health packs near by in case you need them. It also allows you to quickly move to a different point of the map. This is also a great point to boost your fellow teammates on to. A McCree cannot get up here by himself, but he can with your help.
</p>

<h5 class="mb-1">Point 2</h5>
<p class="mt-0">
  This is similar to the first point, except that it allows you to freeeze those coming your way, while staying out of their reach. The point is somewhat less versatile than the first, but it is more safe.
</p>

<h5 class="mb-1">Point 3</h5>
<p class="mt-0">
  Possibly the safest of them all, the enemy cannot fire at you unless they have entered the choke point. At which point you will wall them off, and let your team finish them off.
</p>

<h5 class="mb-1">Point 4</h5>
<p class="mt-0">
  A dangerous point, as any unexpected quick moves by the enemy may get you killed. But the advantage is that you are able to immediately capitalize on your walls, as you are right in reach.
</p>

<h5 class="mb-1">Point 5</h5>
<p class="mt-0">
  Flankers often use this side entrance as a quick get away, as they are relatively safe once they are in this building. Setting up camp here will allow you to catch them, while still giving you perfect access to the main door. It is a little more difficult from here, as enemies can easily take shots at you.
</p>

<h5 class="mb-1">Point 6</h5>
<p class="mt-0">
  This point allows you easy access to the main door, the window, the objective, and a large health pack. All while keeping you somewhat safe on high ground. This is a great point to defend from, but it's also fairly predictable. Enemy snipers will have an easy time finding you.
</p>

<h5 class="mb-1">Point 7</h5>
<p class="mt-0">
  If you are up against a heavy dive comp, it might be best to defend the point instead. All openings on this point are once again the exact size of your wall, allowing you to block off any entrance. This can be very useful, as walking around to a different entrance takes a fair amount of time. It can also be a great point to defend from if the enemy has strong flankers. This point still allows you to easily block the choke point, but you will not be dealing a lot of damage from this range.
</p>

<h5 class="mb-1">Point 8</h5>
<p class="mt-0">
  Another high ground point, but this one allows full vision of anything happening behind the door, trying to poke from this distance can be difficult, as your damage will be greatly reduced. The main advantage of this point is that it is unexpected. Enemies will now be looking for you here.
</p>

<h5 class="mt-4 mb-1">Where to go</h5>
<p class="mt-0">
  What point you pick will depend on a lot of factors, but in any case I advise to move around throughout the match. Enemies will find you, and will different ways of getting at you. Moving around will force them to change their tactic over and over again.
</p>

<ul>
  <li>
    In general I start at point 1, and move around once I know the enemy team comp.
  </li>
  <li>
    If they are dive heavy I will move to 6 or 7.
  </li>
  <li>
    If they are tank heavy I will stay at 1 or move to 2.
  </li>
  <li>
    If they are not mobile in general, I will move to 4.
  </li>
  <li>
    If the enemy has a large amount of flankers and no snipers, I will sit at 8
  </li>
  <li>
    If my team is sitting at the choke, I will stay with them at 4 or 5, or position myself at 6.
  </li>
  <li>
    If my team lacks shields, I will sit at 1 or 7.
  </li>
</ul>

<p>
  It will take some time to learn where to sit in what situations, but none of them are ever bad. In general, simply move to a different point if you are getting focused.
</p>

<h4 class="mt-5 mb-1">Objective B</h4>
<span class="text-small mb-2 font-italic">Difficulty: Medium</span>

<p>
  Point B gets a little bit more difficult, but with proper play you can still carry your team to victory. It's more difficult because the point is a lot more open than the Objective A. There are 3 main entrances; The main door, top left, and the balcony to the right. All these points are spread out, making it difficult to focus on a single point. For this reason I tend to focus on the top left and the main door, as these are very close to eachother and are easiest to block with your wall.
</p>

<p>
  The top left is the most straight forward. There is a single tiny door, which leads to two different high ground points. Both of which make it difficult to defend if the enemy controls them. Luckily separating the enemy is very simple at this door. Because it's so tiny, it's difficult for enemies to rush in all as one. You can defend from two positions. Right at the top of the stairs, and above the main door. The top of the stairs is a little more risky, as enemies will be able to shoot at you. However if your team has strong shields such as Reinhardt or Orisa, this can be a solid point to defend from. The more safe option is above the main door. Simply wait for enemies to enter, and wall them off. But be careful not to get jumped. Either from those at the door or from behind. If the enemy has a sniper it's best not to defend from here, as you will get shot from behind.
</p>

<p>
  The main door can be difficult to wall off properly because the little bridge blocks proper access when you are standing on the point. You can stand above the door, but the same things apply as with the other entrance. It does however make it easy to follow up on your walls, as you will be right on top of them. This also gives you quick access to below the bridge, where you can catch enemies trying to make an escape.
</p>

<p>
  The balcony entrance is more difficult. This is usually where the more mobile characters will attack from, such as Genji, Pharah, or Widow. You wall is wide enough to block the entrance, but it's not high enough. The heroes that attack from this side will often be able to get over your wall with ease. I tend to ignore this entrance and leave my team to deal with them.
</p>

<p>
  So you failed to defend the entrances and the enemies are now capturing the objective. The objective is rather large, and there are no solid points to defend from. At this point it becomes crucial to use your walls to their maximum potentional. Your main goal will be to separate people. Try to focus on slow targets that cannot easily get around your wall, such as Roadhog, Reinhardt, Zarya, Soldier and McCree. Wall them off, even if all it does is prevent them from walking backwards. This allows you and your team to focus them down quickly. Keep an eye on the balcony door, supports tend to try and hide there, allowing you to wall them off the fight for several seconds. Keep good track of ultimates and try to block them.
</p>

<p>
  If you get overwelmed you can resort to trying to stall. Since the spawn is so close, you can win great time with your Ice Wall and Cryofreeze. Lift yourself up on your wall, while still trying to separate enemies. Use your Cryofreeze to bait out abilities, but focus on winning extra time. Stalling is extra effective if you know your team is on their way. Enemies will tend to try and focus you, allowing your teammates to live longer. Your ultimate is not large enough to cover the entire point and there are a lot of exits, making it difficult to freeze anyone. It can however split teams and win you a lot of time. Use it to stall in stead of getting kills. If at all possible try to use it in combination with your wall to single out enemies.
</p>

<p>
  This point tends to get ugly quick, but with proper focus and good use of your abilities you can swing it in your favor. Don't just throw yourself on the point hoping to stall, use your abilities with a plan.
</p>

<h3 class="mt-5 mb-3">Attack</h3>

<p class="font-italic text-large mb-5">Generally choke points go both ways for Mei, if it works well on Defense, it will work well on attack. That's no exception on Hanamura.</p>

<h4 class="mb-1">Objective A</h4>
<span class="text-small mb-2 font-italic">Difficulty: Medium</span>

<p>
  There's only one real way to get through the choke point and that is through the front door. The window to the left can't be reached from the ground, but it can be reached from the top left platform. This can open up some interesting flanks, but using your wall just to get in can be costly. It's easy to catch out people at the main gate, as they often overextend just far enough. Having your wall ready to catch them is key and can instantly win you the objective. If they don't there are several other ways to get to the objective. Often times I place my wall diagonally so my team can safely enter the room to the right. From here on you can either go to the high ground or walk around to the back of the point. High ground can be risky because the corridors are so tight, which can allow enemies such as Junkrat to quickly take care of your team. However if you do manage to control the high ground you are at a great advantage.
</p>

<p>
  From here on out you can make your way on to the point. Here it plays out similarly to defense. You can to isolate enemies by closing one of the openings of the objective. All of them fit your wall perfectly. You can either simply wall them out and focus on those still on the point, or leave the point with them to try and get a solo kill.
</p>

<h4 class="mb-1">Objective B</h4>
<span class="text-small mb-2 font-italic">Difficulty: Hard</span>

<p>
  This objective is a lot more difficult to attack and will solely depend on catching enemies out of position. Often times enemies will defend the top right high ground. This makes the left side a difficult place to attack from as you will be far out of range. You will want to stick with your team and either go center or top right. It will all depend on your team composition. If you have a dive comp, center is the way to go. If you don't, top right will be your best bet. Another good option is to use the windows and boost your entire team up them, which can greatly surprise your enemies.
</p>

<p>
  Top right will be the most common route. Often times enemies will peak around the stairs, allowing your to wall them off. This can quickly result in one or two kills. This does require a team composition with reliable damage. If you have one or multiple flankers along with shield tanks, pushing from here might prove difficult. From here on out you will want to go to the objective as fast as possible. It is now your job to keep enemies off of the objective. From the point you can easily block the exit to the right spawn door. The left is a little more difficult to reach, but it is do-able. Focus your walls on this spawn door to keep enemies away as long as possible while you finish off those still on point.
</p>

<p>
  Your ultimate will be a great help to force enemies away from the objective. Since there is very little for enemies to hide, they will have to leave, allowing you to wall them off further and possibly win the objective.
</p>
