<h1 class="mt-10 mb-5">General Advise</h1>

<p>
  Mei is very susceptical to lag. If you consitently have a ping of over 100ms I do not recommend playing her. Even above 50ms is not recommended. Her abilities require quick timing and reflexes. The lag will often put you at a large disadvantage.
</p>

<p class="mt-4">
  You don't need to complete your Freeze for it to be effective. A mild slow can already make it far easier to hit headshots. This especially comes in to play against slippery characters. You might not want to give them the time to dash away, so land your shots before get their cooldowns back.
</p>
