<h1 class="mt-10 mb-0">General Advise</h1>

<p>
  Mei is very susceptical to lag. If you consitently have a ping of over 100ms I do not recommend playing her. Even above 50ms is not recommended. Her abilities require quick timing and reflexes. The lag will often put you at a large disadvantage.
</p>
