<h2 class="mt-5 mb-3">Introduction</h2>

<p>
  Let's start of this guide by asking a very important question; <strong>Why Mei?</strong>. There is no hero in the game as versatile as Mei. She can quickly adapt to different situations and team compositions. This takes a long time to learn and get used to. If you are reading to guide hoping to quickly climb the competitive ladder, I'm afraid you will be disappointed. The time spend learning Mei could have been invested in learning several different heroes. <br>
  However, once you do have her playstyle down, she can be very rewarding. Not to mention, she is incredibly fun to play. This guide sets to teach you how to play in different situations and hopefully decrease the time it takes to get good at Mei.
</p>
<p>
  We will be going over her abilities, how to play in and against specific team composition, and how to play every map. I will try to share my experience on several situations, but ultimately all that will matter is the time and effort you put in to the hero. Reading this guide will hopefylly give you a good starting point and a good understanding of what Mei is capable of.
</p>
<p>
  <em>My experiences are just my own, and I'm sure other Mei players have theirs. Any questions or suggestions are highly appreciated!</em>
</p>
