<%= stylesheet_link_tag "snowball/snowball", media: "all", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "snowball/application", "data-turbolinks-track": "reload" %>

<div class="screen">
  <div class="eye eye--left" data-eye="left"></div>
  <div class="eye eye--right" data-eye="right"></div>
</div>
