<h2 class="mt-10 mb-3" id="ana">Ana</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Good | Teamfights: Good</span>

<p>
  Ana does not have any form of mobility, which makes her a very easy target. A wall or even a simple chase is almost a guaranteed kill. Of course a good Ana will not find herself in a position where it is easy to get walled off, they tend to stay far behind the team. This can be used to your advantage in several ways. Flanking her can definitely work out but this will mean you will be far away from your team. Another option is to simply wall her off during a fight. She needs vision to heal and once she is walled off she can't do much for the duration of your Icewall. Of course this does mean you have to spend your cooldown on just that which might not be ideal as it can be used more efficiently.
</p>

<p>
  If you do find yourself in a 1v1 with Ana it is most important to dodge the Sleep Dart. If she hits it she will most likely be getting back up. It is best to try and dodge without the just of your Cryofreeze as you might want to keep this to cleanse the anti-heal effect of her biogrenade. But it is safer and easier to use the Cryofreeze. In any case if all went well you should be able to take her out without much of a problem. Her damage is rather slow and you should be able to stun her before she can kill you. <br>
  Ana her shots deal damage over time. If you use your Cryofeeze right as you get hit you can ignore practically all of it. You do not need to stay in your Cryofreeze for the duration, as simply cleansing it is enough to stop the effect entirely.
</p>

<p>
  In teamfights Ana is an easy target. If she is in the middle of the fight you can easily freeze her. If she is further out she will likely be scoped and not be paying attention to you. While she is scoped she moves slow so landing a headshot should be easy enough.
</p>

<p>
  When Ana uses her Ultimate it can be a good idea to focus the target who got affected. They will likely be playing very agressive which allows you to get close and stun them. Keeping them slowed and stunned can practically cancel out the entire Ultimate. Another option is to simply wall them off. Of course in close quarters this is a no-brainer, but even in open areas it can be useful just to win a second or two.
</p>

<p>
  If Ana has slept one of your teammates consider walling them off for the duration just to make sure they will survive. You can also use Cryofreeze on top of your teammate, but this is a little more risky and not quite worth it.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
  One of Ana her main weaknesses is her inability to defend herself when she gets dived on. Of course she has her Sleepdart, but that is far from reliable. And when there's two or more enemies on her she is practically dead. All other healers have a way to try and escape, Ana does not. With Mei you can peel very well for her. Either by slowing the enemies or by walling them off. Now to be fair, on attack most of the time you will be in a different place off the map to her and helping her out can be difficult. But on defense both of you will often be in similar locations.
</p>

<p>
  Her Nanoboost is decent on Mei. It allows you to kill squishies with two body shots and it allows you to get far more agressive. But there's often better targets around. Nanoboost does not decrease the time it takes to stun someone so any time trying to stun might feel like a waste of Nanoboost.
</p>
