<h2 class="mt-10 mb-3" id="ashe">Ashe</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Decent | Teamfights: Good</span>

<p>
  Duels with Ashe are rare. Both of you tend to play on very different positions to achieve different goals. She's rarely your primary focus. But in case do you run in to her you should be able to take her on without much trouble.
</p>

<p>
  Her primary damage source will be her Incindiary grenade. This can easily be countered by you either by Cryofreezing the initial explosion, or by using it after. Even just entering and leaving your Cryofreeze will cancel the DoT.
</p>

<p>
  Trying to stun her can be tricky if she has her Knockback available. If you do manage to get a slow off she will quickly be able to get out of range. This means you might have to take her in a ranged battle. This is in your favor, you need to hit 1 headshot and 1 bodyshot, while she needs to hit 2 headshots or 1 headshot and 2 bodyshots. Her low mobility (even with her knockback ready) make her an easy target. When there is a lot of range between the two of you it's still in your favor as she will suffer from damage falloff while you will not. Of course trying to hit long range shots can be tricky, so this should never be your priority.
</p>

<p>
  Bob is very easily countered by you. Walling him off as he's still running can land him in an almost useful position. Walling him off after he has taken position already wastes half of his duration. A simple stun afterwards and he's almost ready to leave again. When using your Blizzard consider making sure Bob is in it. Using it just for him is a little overkill, but making sure he's part of it means your Blizzard will at least have had a little bit of value.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
  Ashe fills a nice gap that Mei can't. Her more reliable damage nicely compliments your ability to pick people off. She can quickly and reliably follow up on your picks. Any enemies that are difficult for you to deal with are far better suited for Ashe.
</p>

<p>
  Bob and Blizzard are also a nice combination. Using both in the same location is overkill, but with both in different positions you can cover a very large area that your enemies would rather not enter. Especially in Overtime situations this can force enemies to make bad plays in order to try and stay in the fight.
</p>
