<h2 class="mt-10 mb-3" id="bastion">Bastion</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Don't even bother  | Teamfights: Interesting</span>

<p>
  If bastion is not in turret form you can take him on in a staight up 1v1 duel. He does deal a lot of damage but you should be able to freeze him before you kill him. After which a headshot and a melee attack should take him out. However if you do run in to Bastion in turret form it's best to turn back where you came from. You will most likely be dead before you even get in range of him.
</p>

<p>
  Teamfights tend to start a little different. Everything your team has will be focused on taking him down. Here you can be a great help. Bastion tends to hide behide shields, lifting him up from behind those shields can be all you need. A quick follow up hook, snipe, sleep, or whatever else will quickly take him out. This comes in to play often against an attack Bastion who is sitting on the payload.<br>
  If you can't reach him, or if your team does not have the follow up, there are other options. Most of all you will want Bastion to move, to force him out of his turret form. This can easily be done by placing a wall in front of him. He can destroy your wall in seconds, so instead of placing your wall horizontal, place it vertical. This way Bastion will have to destroy multiple pillars, which will simply take too long.
</p>

<p>
  If Bastion uses his ultimate simply wall him off and wait it out. There is little point in trying to freeze him, as a single shot can kill you. Since his shots are rather slow you should be able to dance around your wall for some time.
</p>

<p>
  <strong>Be careful not to lift Bastion to heights that allow him to kill your teammates. Make sure your teammates know what you are up.</strong>
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Decent, but gimmicky</span>

<p>
  Having Mei and Bastion in one team is not exactly something that happens often, and thus I have little experience with it. However that does not mean it does not work! Let's talk about the more common situation first; Defense.
</p>

<p>
  Often times when you have a Bastion on defense your entire team will be build around it. You will most likely have a shield tank (Reinhardt or Orisa), and you will hopefully have a Mercy. You will need the Mercy because if your Bastion dies you will be in trouble.<br>
  One of the biggest weaknesses of Bastion is his predictability. He will sit behind a shield and fire away at you. You will know where he is and you will be able to plan around that. As Mei you can break some of this predictability by splitting teams, blocking escape routes, and blocking flanking routes. You can also lift Bastion (and the rest of your team) to unexpected locations. No one expects Bastion to be on a roof somewhere, but you can make that happen with Mei.
</p>

<p>
  Attack is very interesting. The most common configuration will be on Payload maps, with Bastion riding the Payload with a shield in front of him (Commonly called "Pirate ship"). Your role as Mei in this composition is to expose enemies to Bastion. This can often be done by lifting them away from walls and shields. Lifting them up for just a second can be all the time your Bastion needs to make quick work of them. Another option is to close off any escape routes so you Bastion. Often times the only method of taking out the Bastion is to flank them. Enemies will avoid fighting until their flankers have taken Bastion out. Your job is to make sure Bastion stays alive. Use your walls to protect him, blocking flanks, and stopping abilities. A Tracer that blinks in to your Icewall is likely to Recall away. She will most likely not attempt it again until she has her Recall ready. This buys a lot of time for your team to continue to push the payload.
</p>

<p>
  On non-payload maps it gets a little different. This happens so little that I of course don't have a lot of experience. <strong>The one advantage here is that while you might not know how to play it well, the enemy will also not have any experience playing against it.</strong> However from the few games it did happen I have a decent view of what works well. Let's take Hanamura first point as an example, as I think this is one of the few maps this can work well. There's two viable options here. You can lift your team and Bastion up through the left window at the choke point. You can only reach this from the highground. Quickly jumping through here will surely surprise the enemy, their shields will likely be set up wrong. However if you fail they will be looking out for it on the next try. Another option is to block the choke point, allow Bastion to set up behind it, shield him, drop your wall and surprise the enemy. Bastion will be able to blast through shields in no time, while the enemy will still be trying to figure out what happened. This requires solid communication with your team, but it can definitely work.
</p>

<p>
  Another fun option on some maps is for Bastion to set up behind a wall, lift him up and allow him to fire at enemies from an unexpected angle. It's a fun tactic, but it doesn't work on many locations, and it might just result in a dead Bastion.
</p>
