<h2 class="mt-10 mb-3" id="brigitte">Brigitte</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Difficult | Teamfights: Decent</span>

<p class="mb-1">
  A straight up 1 versus one will be very difficult. Even a mediocre Brigitte will beat you without much trouble. The difficulty lies in trying to stun her. If she juggles her shield between swings she will never get stunned. Your best bet is trying to dodge the stun and sticking as close to her as you possibly can. If all goes well you will eventually stun her and be able to double headshot her and her constant healing will be no problem. Unfortunately this is an unlikely scenario. Her constant damage is shield will make it very difficult. <br>
  If the Brigitte comes running at you and never lifts her shield you can easily take her out before she can kill you, but any half decent Brigitte will not play like that.<br>
  <strong>To summarise; avoid dueling Brigitte.</strong>
</p>

<label class="content-toggle" data-toggle-content>
  Toggle image

  <input type="checkbox" class="content-toggle__input">
  <div class="content-toggle__inner">
    <p class="mt-0 mb-3">
      In this clip I expect Brigitte to try and stun me and so I stop it with my Ice Wall. Followed by a stun and double headshot to quickly finish her off.
    </p>

    <div class="relative" style="padding-bottom: 54%">
      <iframe data-src="https://gfycat.com/ifr/DisloyalPresentHound" class="absolute pin-t pin-l" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen></iframe>
    </div>
  </div>
</label>

<p>
  In teamfights you can control Brigitte pretty well. She often leads the team which makes her an easy target to wall off. If you manage to separate her from her team you team should be able to collapse on her without much danger. <br>
  Focusing her in a fight is often not the best choice. Stunning her is difficult and slows don't impact her as much as others. Brigitte will often be on the frontline which leaves the backline more open. Consider going for the other support or for possible snipers.
</p>

<p>
  The extra 100 armor her allies gain from her Ultimate makes your combo more difficult but nothing changes. A stun and double headshot will still take out 200 and 250 health heroes, as it deals a total of 380 damage.
</p>


<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Decent</span>

<p>
  You and Brigitte don't necessarily synergise, but having her on your team allows you to play far more agressive. Her armor allows you to go deeper and go for targets that might otherwise be too risky, such as Widowmaker.
</p>

<p>
  Brigitte makes up for some of the weaknesses of Mei. As Mei it can be difficult to deal with Tracers. You'll have to largely rely on luck to pick them off. Often this effort is a waste as you could have put all those missed shots in to someone else. Brigitte can make quick work of Tracer without the help of anyone else. There's other heroes who can deal with Tracer well, but it's very valuable on a support specifically as that allows you to take other DPS that compliment Mei well.
</p>
