<h2 class="mt-10 mb-3" id="brigitte">Brigitte</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: | Teamfights: </span>

<p>
</p>

<label class="content-toggle" data-toggle-content>
  Toggle image

  <input type="checkbox" class="content-toggle__input">
  <div class="content-toggle__inner">
    <p class="mt-0 mb-3">
      In this clip I expect Brigitte to try and stun me and so I stop it with my Ice Wall. Followed by a stun and double headshot to quickly finish her off.
    </p>

    <div class="relative" style="padding-bottom: 54%">
      <iframe data-src="https://gfycat.com/ifr/DisloyalPresentHound" class="absolute pin-t pin-l" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen></iframe>
    </div>
  </div>
</label>


<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: </span>

<p>
</p>
