<h2 class="mt-5 mb-3" id="doomfist">Doomfist</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Difficult | Teamfights: Good</span>

<p>
  A duel with Doomfist is always interesting. He absolutely has the advantage, but you can outplay him if you play it right. If he gets within melee range of you, it starts to get dangerous. His Rising Uppercut in combination with Seismic Slam can put you on very low health. Paired with the low cooldown on his abilities, he can be a real nightmare to deal with. Your best bet is to stay out of range of him and try and bait out his abilities. You can block all of his abilities with your Ice Wall, and of course with your Cryofreeze. Lifting yourself up with your wall and attacking him from above can give you a clear advantage, as he cannot reach you. His Uppercut and Rocket Punch combo is fairly predictable and can be blocked by your Cryo-freeze.
</p>
<p>
  This all changes in teamfights, where you can do great work to outright counter him. You can easily save teammates from Rocket Punches. You can also block his Ultimate with your Ice Wall, place it to the side of where it will land, and it will block anything behind line of sight of the wall. Place it right in the center, and it will largely decrease all of the damage it does to those on the ground because he will land on top of the Ice Wall. There is more than enough time to carefully place your wall and you see it come down. Listen to the sound his ultimate makes to estimate which of your teammates he is going for, and save them with your wall.
</p>
<p>
  <strong>Because of the large amount of mobility it can be difficult to freeze Doomfist.</strong> Only try doing so if you are sure he has used all of his abilities. His Rocket Punch takes 1 second to charge, while your Freeze takes 1.5 seconds to stun. As long as you started freezing him before he started charging, you should have the advantage. Of course he can let go of his charge whenever he wants to, so it's best to play it careful and block his charge instead. The slow does not affect him much, as it does not slow down his abilities.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Poor</span>

<p>
  <strong>Mei and Doomfist serve a very similar role.</strong> Because of this they typically aren't great together, but it can work. It requires the rest of your team to have a good amount of damage. You will need tanks such as Roadhog, D.va and Zarya. Shields are not necessary since Doomfist is always running around and Mei has defensives of herself. Moira and Zenyatta would be a great help as well to add the extra damage you are lacking. This does have one great weakness; Pharah. No body will be able to deal with her reliably. Having a third DPS instead of a second tank or support can also work well. In which case idealy it would be Soldier 76 or McCree.
</p>

<p>
  In theory the combo of using your Ice Wall in to Rocket Punch sounds great, but in reality this will not work out often. <strong>Both of you tend to be in very different locations of the map.</strong>
</p>
