<h2 class="mt-5 mb-3" id="dva">D.Va</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: In your favor | Teamfights: Good </span>

<p>
  Duels with D.va usually go roughly the same way. If her Boosters are on cooldown, you win. If her boosters are ready, she can get away but not kill you. In both cases you win. Most of D.va her damage comes from her rockets. Since the fire rate is rather slow you can easily block the majority of it with your Cryo-freeze. The rest of her damage course of course from her primary fire. To do solid damage she needs to be up close, which is exactly where you want her to be. Her large hitbox makes it very easy to freeze her, however the placement of her head makes Headshots more difficult. Her "head" is the cockpit at the front of the mech, because of this you cannot headshot her from the back, and even from the sides it is difficult. An experienced D.va will know this and turn around before she gets completely stunned. You can counter this by constantly trying to move in circles around her, but even then you might end up in a difficult to reach position. Another way of doing it is holding off on the stun, freezing her just enough to be on the edge of stunning her but not following through. This will force her to either stay turned around, after which she will likely turn back to face you which is when you want to complete the stun. At this point you can land two easy headshots. You will need to perform this combo twice in order to kill her. This will take a while and she will likely have regained her escape by then. You can do the same thing here, hold off on stunning her until she tries to boost away, as soon as you complete the stun her boosters will stop and she will have lost her escape. Which should allow for an easy kill.
</p>

<p>
  In teamfights there's many ways to annoy her. She's absolutely worth focusing over others. You can quickly force out abilities and as soon as you manage to stun her she should lose her Mech. If at this point she uses her Ultimate you can easily wall it off. Before doing so you can go in for a quick headshot. Either by directly aiming for her, or by stunning her. You should have enough time to stun her, kill her and use your Icewall or Cryo-freeze.
</p>

<p>
  When she uses her Ultimate from a distance you can easily predict and stop it. Either by simply blocking line of sight, or by stopping the Mech from moving altogether. Either way her Ultimate should be a non-issue as long as you have your Icewall ready. In all cases you will first want to look around for your team. Make sure they are safe before you safe yourself. If you need to use your Icewall to safe a teammate you can always use Cryo-freeze to safe yourself.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
  Mei works well together with all tanks, and D.va is no exception. Tanks often lack the damage or follow-through to kill a target. With Mei you can create opportunities for your tanks to get kills. Wall of enemies and D.va will quickly be able to dive and kill them. As Mei you can also force out escape abilities, allowing your D.va to use her damage without the risk of them getting away or dodging it.
</p>

<p>
  I always like to combo D.va ultimate with Icewall. It makes it difficult for enemies to see where it really is, and dropping your Icewall last second can surprise enemies. That being said, this is a tactic that doesn't fool many people, but it is always fun to pull off.
</p>

<p>
  D.va Ultimate also compliments your Blizzard very well. There's two possiblities here. Either you manage to stun a bunch of people, and the D.va Ultimate finishes them off, or enemies use their escape abilities to get out of your Blizzard, leaving them with no escape from the D.va UIltimate.
</p>
