<h2 class="mt-10 mb-3" id="genji">Genji</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Skill matchup | Teamfights: In your favor</span>

<p>
  A duel against Genji is absolutely a skill match up, although I do feel Mei has an advantage depending on the situations. In a close quarters situations you will be able to freeze Genji consistantly. Of course Genji cannot Reflect your spray, and thus you can freeze him even if he is Reflecting. The difficulty comes in with how slippery Genji is. His constant jumping and dashing makes him difficult to track. Genji will also be able to very quickly kill you with a headshot dash combo. It is key to try and predict his Dash and block it with your Cryo-freeze. If you manage to do so you will easily be able to freeze and kill him as he cannot get away from you.<br>
  His ultimate lasts 6 seconds, you will be able avoid a large portion of it by using your Cryo-freeze. The remaining 2 seconds can easily be dodged with your Icewall.
</p>

<p>
  In teamfights you can try and focus on Genji as he will most likely have used his Dash to get close to your team. A simple slow can be enough for your team to easily target him, a stun is not necessarily required.<br>
  If he uses his ultimate try to block him from reaching your Healers with your Icewall. As Genji will have to use his Dash to get close to them, he will not be able to Dash again and thus be forced to walk around your wall. These few seconds can be all you need to save your teammates.<br>
  Another good tactic is to try and get Genji to focus you and use your Cryo-freeze after receiving one or two hits. <strong>All you want to do is waste Genji's time</strong>.
</p>

<p>
  The most important thing is to keep track of where Genji is. The last thing you want is for him to deflect your Blizzard. As a general rule; <strong>never throw your Blizzard a distance unless you are absolutely sure the enemy Genji is dead</strong>.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
  Genji can follow up very well on your Ultimate. Even if you do not stun anyone, enemies will often have to use their escape to get out of it. This allows your Genji to easily chase them down.
</p>

<p>
  Genji can perform a lot of the tasks Mei may struggle with, such as reaching the backline or finishing targets off. Paired with Mei's ability to catch targets, this can make a mean combo.
</p>

<p>
  Genji has a large amount of single target damage, allowing him to quickly follow up on your Icewalls. If you catch a squishy, Genji will often be able to take care of them quickly.
</p>

<p>
  While they do work well together, <strong>together you might lack the damage to take out large shields quickly</strong>. It can be a good idea to consider high damage tanks such as Roadhog or Zarya.<br>
  Another issue is Pharah, neither of you have the required tools to take care of her consistantly. This can be somewhat fixed by having a Zenyatta on your team.
</p>
