<h2 class="mt-5 mb-3" id="hanzo">Hanzo</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Skill match-up | Teamfights: In your favor</span>

<p>
  Dueling is Hanzo is always a little scary. Is he going to land that lucky headshot? Will he skillfully aim at my feet? In reality it is not just luck, you can control it. Being able to dodge by properly stutter stepping is important versus practically any hero, but for no one more so than Hanzo. If you are in his range all you need is 1.5 seconds to stun him. He has no escapes, so stunning is always your best bet. In this time he can fire 2 shots. 1 Headshot and you are dead, or two bodyshots and you are dead. Of course he can also opt for his Scatterarrow, which in most cases will instantly take you out. Hanzo needs to see the floor to properly hit this Scatterarrow so you will want to have the highground on him. Luckily for you, you have your Icewall. Lift yourself up and duel him from above. Not only does this mate Scatterarrow hard to hit, it also makes it far more difficult for him to headshot you.<br>
  Of course all of this is irrelevant if he is out of your range. If he is some distance away it is best to avoid him. You can try and go for your own headshots, but he will only need to hit one, while you will need to hit a headshot and a bodyshot. This is usually not worth the risk.
</p>

<p>
  Hanzo doesn't have the greatest teamfight presence. He doesn't have the mobility, AoE, or reliable damage to be a real threat. This also makes him an easy target for you. He cannot escape and he will likely be busy trying to take your teammates down. You should be able to stun and take him out quickly. However in many cases the Hanzo will not be in the middle of a fight, he will be somewhere on the highground. If you can reach him with your Icewall it can absolutely be worth it to go for him, but he should not be your priority target.
</p>

<p>
  If your team gets caught in a Zarya ultimate you can expect a follow up Hanzo ultimate. You can try and lift your team using your Icewall, which in many cases will put them out of range of the Dragonstrike, but this will not always work. If it comes in from a high angle you might still die. It is always worth a try though.
</p>

<p>
  When placing an Icewall behind Hanzo he will often instictively climb it. When he reaches the top drop your wall and he will fall in a predictable path, allowing you to easily hit him on the way down.
</p>

<p>
  Be wary of staying too close to a choke point when the enemy team has a Hanzo. A Sonic arrow will give away your position and allow the enemy to collapse on you before you even realised what happened.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Below average</span>

<p>
  Both you and Hanzo have fairly unreliable damage. Having just the two of you as DPS will often put you at a disadvantage. You will not have the damage to take out tanks quickly, and especially large shields will ruin your day. This can be somewhat fixed by having high damage supports and tanks, but the unreliable nature will still exist.<br>
  Another option is a third DPS, replacing either one healer or one tank, depending on what your team is most comfortable playing. This third DPS should be someone with reliable damage such as Soldier or a flanker such as Tracer.
</p>

<p>
  The biggest weakness of Dragonstrike is that people can and will just walk out of it. Your Icewall can prevent this. Close of an escape when inside, or simple wall in the middle of nowwhere when out in the open. All you need is that extra second for them to get killed.
</p>
