<h2 class="mt-10 mb-3" id="hanzo">Hanzo</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Skill match-up | Teamfights: In your favor</span>

<p>
  Dueling is Hanzo is always a little scary. Is he going to land that lucky headshot? In reality it is not just luck, you can control it. Being able to dodge by properly stutter stepping is important versus practically any hero, but for no more so than Hanzo. 1 Headshot or two bodyshots and you are dead. You have little time to get up close to him and attempt a stun. He will likely kill you before you get close enough, and if he doesn't he can leap out of your range. Your best bet is try and out snipe him. You will need to land 3 body shots or a bodyshot and a headshot. You can use your Icewall to gain a highground advantage, this will make hitting headshots for your easier while making it more difficult for him.
</p>

<p>
  Hanzo can be a real threat in the middle of a teamfight. He can put out a large amount of damage in little time. For that reason it can be wise to try and focus him. Since Hanzo does not have a great deal of survivability himself you can take him out quickly. Either by killing him or by forcing him to retreat by geting him low health.
</p>

<p>
  If your team gets caught in a Zarya ultimate you can expect a follow up Hanzo ultimate. You can try and lift your team using your Icewall, which in many cases will put them out of range of the Dragonstrike, but this will not always work. If it comes in from a high angle you might still die. It is often worth a try though.
</p>

<label class="content-toggle" data-toggle-content>
  Toggle example

  <input type="checkbox" class="content-toggle__input">
  <div class="content-toggle__inner">
    <p class="mt-0 mb-3">
      In this clip my team gets caught in a Zarya ultimate. Our Zenyatta does not yet have his Trancendance. A precisely placed walls puts them out of danger.
    </p>

    <div class="relative" style="padding-bottom: 54%">
      <iframe data-src="https://gfycat.com/ifr/FrayedMadBagworm" class="absolute pin-t pin-l" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen></iframe>
    </div>
  </div>
</label>

<p>
  When placing an Icewall behind Hanzo he will often instictively climb it. When he reaches the top drop your wall and he will fall in a predictable path, allowing you to easily hit him on the way down.
</p>

<p>
  Be wary of staying too close to a choke point when the enemy team has a Hanzo. A Sonic arrow will give away your position and allow the enemy to collapse on you before you even realised what happened.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
  Both you and Hanzo have fairly unreliable damage. Having just the two of you as DPS will often put you at a disadvantage. You will not have the damage to take out tanks quickly, and especially large shields will ruin your day. This can be somewhat fixed by having high damage supports and tanks, but the unreliable nature will still exist.<br>
  Another option is a third DPS, replacing either one healer or one tank, depending on what your team is most comfortable playing. This third DPS should be someone with reliable damage such as Soldier or a flanker such as Tracer.
</p>

<p>
  The biggest weakness of Dragonstrike is that people can and will just walk out of it. Your Icewall can prevent this. Close of an escape when inside, or simple wall in the middle of nowwhere when out in the open. All you need is that extra second for them to get killed.
</p>
