<h2 class="mt-5 mb-3" id="junkrat">Junkrat</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Difficult | Teamfights: Difficult</span>

<p>
  When dueling Junkrat you need to make sure you are full health. A combination of his mine and a grenade (Or 2 mines) deals 240 damage, leaving you at 10 health. Since Junkrats shots are rather slow dodging them from a distance is easy, but up close that speed not not matter. Because of this you want to stay at a distance, but you're Mei, you want to be up close, right? With Junkrat it's better to stay away and try and go for those headshots. Up close you will most likely end up dead before you've even started slowing him. Junkrat is always hunched over with his head sticking out, this makes him easier to headshot than most other heroes. He has only 200 health so one headshot and one bodyshot is enough to kill him.
</p>

<p>
  In teamfights Junkrat is a little scary. Especially his RIP-tire. It has only 100 health, you will need only two shots to take it out. But it's so quick that it's usually a better idea to try and dodge it. Dodging it with Cryo-freeze is not easy. The distance is hard to predict. If you use it too early he will just wait it out, if you use it to late, you die. You can try using your Icewall to dodge it but that is even more tricky. In most cases you will want to try and rush inside and close off the entrance with you wall. In which case he either has to go around, or go for a different target.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
  Junkrat makes up for all of the AoE that Mei lacks. He can take out shields in seconds and he can force enemies to move to a different position with just his primary fire. This goes well together with Mei since you can close off those exit routes, allowing Junkrat to go to town on trapped enemies. The same goes for his RIP-Tire.
</p>

<p>
  Together you will lack any kind of far range damage, making it difficult to take out those on high ground, or those in the air. This does not necessarily have to be a problem, but you will have to play around it. <strong>Fight indoors and on the objective as much as you can, this is where you both perform best.</strong>
</p>
