<h2 class="mt-5 mb-3" id="mccree">McCree</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Skill matchup | Teamfights: Even</span>

<p>
  Duels with McCree are very interesting. He has a clear advantage when it comes to range, but luckily for you he tends to play close range. In close range it all comes down who plays better. If you get stunned, you die. Most McCrees tend to use their flashbang right as they get in your range, predicting and dodging this will win you the fight. Being in flashbang range means you are very close to him. As a hitscan player it is far more difficult to hit a target up close as you have move far more. Staying close to him will put you at a good advantage. However if he does hit all of his shots, you will still die even if you dodged his stun. Since that will not happen in most situations, you should be able to stun and kill him before he takes you out. His dodge is fairly short range and does not put him out of range for your Endothermic Blaster if you were close enough. <br>
  <strong>All in all, a very good McCree will be able to beat you, whether it's by his accuracy or his ability to bait out your Cryo-freeze. But when played right you can absolutely win the duel.</strong>
</p>

<p>
  Teamfights are a little bit different. If the McCree has used his Flashbang and his Dodge, you can easily take him out. His ultimate is super easy to spot, and you can wall him off right away. If you wall the second he uses his ultimate, your wall will last long enough to block it entirely. If you placed your wall center to him he will not be quick enough to walk around it. It can be a good idea to focus on McCree in the middle of a fight because you can easily deal with him, however <strong>usually there are better targets to focus.</strong>
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
  <strong>McCree fills almost all the roles Mei can't.</strong> He has the range you lack, the reliable damage and solid follow-through. If you stun someone, McCree will often be able to help you finish them, from where ever he might be. Especially because both of you tend to be in similar positions of the map. What you both lack is sustain damage, both of you tend to focus on a single target, making your teamfight damage somewhat low. Having a high damage tank and support will provide for a very solid team composition.
</p>
