<h2 class="mt-5 mb-3" id="mei">Mei</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Skill match-up, but somewhat latency related | Teamfights: Skill match-up</span>

<p>
  On a rare occassion you will run in to an enemy Mei. The match-up is actually really fun and interesting. In general Mei is better on defense, most of her kit is more straight forward and easier to use on defense. However attack Mei actually counters defense Mei. As we'll be discussing in the <%= link_to "Map-specific chapter", "#map-specific" %> on defense you will mostly be using your Icewalls to close off chokepoint. On attack you can prevent the defensive Mei from doing just this. If you know where she is, simply wall off her line of sight and she won't be able to separate your team.
</p>

<p>
  Of course wall off chokepoints is only a small part. Meis are difficult to kill, but with your freeze you can quickly force out a Cryo-freeze, after which she is left vulnerable. Safe your Icewall to follow her once she tries to Icewall away. In general in a duel with Mei, always use your abilities reactively. When you are the one getting unexpectedly frozen make sure when entering your Cryo-freeze to wait atleast 1.5 seconds for the slow to wear off. Don't wait too long or the enemy Mei will get her cooldowns back, and to surprise her so you can start slowing earlier. If both of you freeze eachother constantly for an equal amount of time the one with the highest latency actually has the upperhand. With Overwatch's "Favor the shooter" way of dealing with lag the one with the highest latency might not end up stunned. This is not something you can account for, and you certainly do not want to have high latency just for this, as in general it's a fairly large disadvantage.
</p>
