<h2 class="mt-10 mb-3" id="mercy">Mercy</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Irrelevant | Teamfights: Good</span>

<p>
  When you see the enemy team has a Mercy it will be your objective to make sure she is constantly on the look out for you. If you manage to single her out either her or her teammates will be in a lot of danger. Mercys tend to be far in the back behind the safety of her tanks. This makes her difficult to kill but you can also use this to your advantage. Wall her off, leaving your team to deal with the enemy without the Mercy healing them. It's just for a few seconds, but these few seconds can be plenty to collapse on a specific target that will now be without the large amount of healing of Mercy. <br>
  Flanking and singling out the Mercy is another great option. Unlike other supports, once you've walled her off there really is no danger and you should be able to take her out without much trouble.
</p>

<p>
  If you catch her out of potion try to use your Ice Wall to block her line of sight of her teammates so she can't fly away. Her Guardian Angel is difficult to stop with your Ice Wall once she has started flying. Instead of blocking her she tend to glide over. For this reason it might not be with trying this unless you're inside with no room to glide over it.
</p>

<p>
  If you're freezing a target that is being healed by Mercy you can outdamage her healing done to 200 HP targets. Two headshots will always be enough, regardless of the healing. Focusing that target rather than the Mercy can be a good idea in a 1v2 situation. Where it's you together with the Mercy and other hero. Once the other hero is dead Mercy is an easy target.
</p>

<p>
  When using Blizzard try to make sure Mercy has no one to fly to. Even if you do manage to stun her mid flight the momentum will likely fling her outside of the radius of Blizzard.
</p>

<p>
  You can counter her Resurrect in the right situations. You can't just wall her and break the channel, but you can pre-emptively Icewall between the Mercy and the Resurrected target to make sure he immediately has no where to go, allowing your team to kill him again right away.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
  Mercy goes great with any team, having a Mei does not change that. Since Mei lacks damage Mercy her Damage boost will come in handy. Not just for you, but for everyone in the team. Damage boost does work well on Mei, but it requires very solid coordination. You can now take out 250 HP targets with a single freeze + headshot combo. Taking out tanks will also be far faster. However this will likely not be what the Mercy is focused on. Damage boost tends to be used more for sustained damage or during Ultimates. The synergy required just can't be expected from any level in soloqueue.
</p>

<p>
  If you see your Mercy trying to Resurrect a teammate consider giving her some protection with your Icewall. Of course this will depend on how risky the Resurrect is, but better safe than sorry.
</p>
