<h2 class="mt-5 mb-3" id="moira">Moira</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: | Teamfights: </span>

<p>
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: </span>

<p>
</p>
