<h2 class="mt-10 mb-3" id="moira">Moira</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Difficult | Teamfights: Not your priority</span>

<p>
  Dueling Moira is a pain. She can deal a surprisingly high amount of damage and will heal in the process. This heal will make it so a single stun and headshot is not enough. You will either need to hit another shot or melee in order to kill her. But that's only if you manage to stun her. Her Fade instantly removes any slow you put on her and will place her out of your range but still within hers. A good Moira will always win the duel. <strong>Your best bet is to go for headshots rather than trying to stun her.</strong> Unless you're certain her Fade is on cooldown.
</p>

<p>
  In teamfights she is simply not your priority. You can slow her and try to force her to use Fade in order to make her feel vulnerable, but more than that will be wasted effort. You're better off going for other supports or for tanks, even if that Moira is healing them.
</p>

<p>
  When Moira uses her Ultimate you have two options. Either wall her off or take the opportunity to go for the kill. As long as she is using the Ultimate she cannot use Fade. At this point you can very easily stun her. It does not deal enough damage to kill you before you stun her. You Ice Wall is a safer bet in case she's surrounded by her team.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
  You and Moira don't have any abilities that compliment eachother, but she can make up for your lower damage output. Moira is perhaps the easiest support to deal a lot of damage with. On higher levels of play a Zenyatta, or even Brigitte, might be a better pick but Moira is never a bad pick together with Mei.
</p>

<p>
  Your top priority is not to block your Moira. Accidentally blocking her ball or her Ultimate can cost her a large amount of output. She's less reliant on her team to protect her compared to other supports. For this reason your focus is better put on your other support(s) to try and peel for them.
</p>
