<h2 class="mt-10 mb-3" id="orisa">Orisa</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Good | Teamfights: Great</span>

<p>
  Orisa is often incorrectly seen as a counter to Mei because of her Fortify. While this ability does of course prevent her from being stunned, Mei does still counter her on every front.
</p>

<p class="mb-1">
  Often times you will find Orisa at a distance with her team hiding behind her shield. To counter this shield you can simply place your Icewall right inside of it. This forces the enemy to either wait out your Icewall while your team pushes the objective or repositions for a better angle, or move away from the shield and expose themselves. The Orisa will likely reposition her shield to a worse position, leaving them more vulnerable the moment your Icewall goes down.<br>
  Another option is to try and single out a target. Place your Icewall under an enemy and lift him up away from the safety of the shield. You will not have a lot of time to react so make sure your team is ready and aware of what you are doing. With proper focus you can quickly take out enemies or at the very least force them to use valuable abilities. <br>
</p>

<label class="content-toggle" data-toggle-content>
  Toggle image

  <input type="checkbox" class="content-toggle__input">
  <div class="content-toggle__inner">
    <p class="mt-0 mb-3">
      In this clip you can see me lift Orisa away from her shield, allowing us to finish her.
    </p>

    <div class="relative" style="padding-bottom: 54%">
      <iframe data-src="https://gfycat.com/ifr/RequiredSecretAdouri" class="absolute pin-t pin-l" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen></iframe>
    </div>
  </div>
</label>

<p>
  This same principle often comes in to play when you have used Blizzard. Orisa will often place her shield in front of those who are frozen. You can quickly Ice Wall them up to allow you and your team to easily hit him without worrying about the shield.
</p>

<p>
  When Orisa is alone behind her shield she is an easy target. Place your Icewall in front of the shield, walk up to it, drop it, and surprise her. As soon as you are close you should have the upperhand. As Mei you can quickly force out Fortify. Simply go for a stun and she will be forced to use it. At this point you can go for headshots. Since she is slowed while firing she is a very easy target. Her head hitbox is also massive, so hitting should not be a problem. Orisa can deal a large amount of damage up close so instead of trying to kill her while her Fortify is still up you can also wait it out in your Cryofreeze. As soon as her Fortify has worn off you can quickly kill her.
</p>

<p>
  Her Supercharger is easily countered. The Ultimate needs line of sight in order to grant it's damage boost. Simply place your Icewall on top of it and it no longer works.
</p>

<p>
  Keep an eye on Halt, you can safe teammates from getting pulled to their death with a well placed Icewall. Either place it below them or between them and the orb.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
  While there's no direct synergy between you and Orisa, the two of you definitely fit well together in a team. Of course Orisa goes decent with any team. If you stay close to her you can synergise well with her Halt. If she pulls someone away from a shield you can then Icewall them away from their teammates. This is difficult to pull off and is not exactly reliable. On defense you will often be playing close to Orisa. You can use her shield to try and go for snipes that would otherwise be too risky. On attack you will likely be in different positions then Orisa.
</p>

<p>
  Both of you offer a decent amount of peel and protection for your supports. Together you can keep most flankers away.
</p>

<p>
  Orisa her Supercharger does not do too much for you. The damage boost does not decrease the time it takes to stun someone. However the damage boost makes you deal 225 damage with a headshot. This now allows you to take out 200 health targets with a single shot. With the Supercharger active you can try and go for shots that would otherwise be difficult. For example taking out a Moira would normally take 2 shots. After the first one she will likely Fade away out of your vision. With the Supercharger active you can try and go for this guaranteed headshot kill. While that is nice you will still tend to go for the Stun and Headshot combo, in which case it makes no difference.
</p>
