<h2 class="mt-5 mb-3" id="orisa">Orisa</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Good | Teamfights: Great</span>

<p>
  Orisa is often incorrectly seen as a counter to Mei because of her Fortify. While this ability does of course prevent her from being stunned, Mei does still counter her on every front.
</p>

<p>
  
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
</p>
