<h2 class="mt-5 mb-3" id="pharah">Pharah</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Hard | Teamfights: Even harder</span>

<p>
  Pharah is your obvious weakness. She can stay out of range of practically all you have, while still being able hit you consistantly. Pair that with a Mercy, and the chances of taking her out are suddenly very slim. Nothing more can be said than to stay out of her sight and focus on the rest of your team. Let your teammates deal with Pharah, or swap to a different hero if it really is not working out. With some practice you will be able to deal with Pharah from time to time, but it will never be consistent.
</p>

<p>
  This doesn't change much in teamfights. <strong>Focus on others</strong>, try to keep your teammates safe from Pharah, and make sure your team is able to deal with her.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
  <strong>Pharah brings the AoE damage that Mei lacks.</strong> While the two of you don't necessarily synergise in gameplay, the fact that you two are so different actually works great. The heroes that work well against Pharah aren't a problem for Mei. <strong>You will be able to deal with the enemies that threaten Pharah, and vice versa.</strong>
</p>
