<h2 class="mt-5 mb-3" id="reaper">Reaper</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Difficult | Teamfights: In your favor</span>

<p>
  Both Mei and Reaper excel at close range, the problem is that Reaper does it much faster. He will be able to kill you before you kill him, and he will be able to go invulnerable just before you stun him, giving him even more time to kill you. The only way you will be able to kill him is if he does not have his Shadow form and you keep him at maximum distance. <strong>In almost all cases it will be better to run from him.</strong>
</p>

<p>
  This all changes in team fights. You will not be his priority target, he will go for your tanks and supports instead. You can force his Shadowform with your freeze, after which he is left vulnerable. Blocking his ultimate is fairly difficult, as kills happen super quickly. <strong>It is best to make sure you know where Reaper is at all times</strong>, and pre-emptively try to slow him, forcing him to use his Shadowform and give away his position.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Bad</span>

<p>
  Both of you perform a very similar role. You are both close range, great at taking out tanks, and like to flank from time to time. You don't need two heroes that fill the same role, especially because it's such a specialised role. Having both of you in one team can work if you play a third DPS, such as Soldier or Pharah. It can also work if the enemy is running 4 tanks. More so on attack than on defense. Unfortunately most teams don't run 4 tanks on defense.
</p>

<p>
  There's certain team compositions and strategies where Mei + Reaper can work very well. However this requires very strong synergy and knowledge of what the enemy team might play. The two of you can devastate as or against an anti-dive composition. In both situation you are likely to run in to close range heroes, often with Winston and D.va. Both of you are strong against such heroes. This is a tactic that has in rare occassions been seen in high level play, and will most likely not work in regular Competitive play, regardless of the rank.
</p>
