<h2 class="mt-10 mb-3" id="reinhardt">Reinhardt</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Great | Teamfights: Great</span>

<p>
  You're basically Reinhardts worst enemies. For every tool he has you have one that straight up counters it. Let's go over the most common scenario; Reinhardt has his shield up with his teammates right behind him. Either he's on attack and slowly moving towards you, or he is on defense and pratically stationary. In both cases you can counter him in the exact same way; place your Ice Wall behind him. This is easy to do because he is so slow and predictable. Once you have walled him off you have a ton of options. If you have a Reinhardt on your team he can easily and safely charge the Reinhardt and force him out of him shield after which you and your team can quickly finish him off. Another option is to walk up to the Reinhardt and try to freeze him. At this point he will often try to charge you. Have your Cryofreeze ready and you should be safe. Otherwise sidestepping can also be viable since it's so predictable. If he tries to melee you just keep in mind that you can freeze him before he can kill you. Once he is stunned he should be dead with the help of your team.
</p>

<p>
  Everything Reinhardt does can be predicted and countered by you. His charge is loud and telegraphed. You should in most cases be able to stop him. Either with your Ice Wall, Cryofreeze or even by trying to stun him. If Reinhardt has already caught someone you cannot safe then with an Ice Wall, but you can safe them by stunning the Reinhardt. Since he moves quick this requires you to be close to him. If you start stunning him as soon as he is in your range he should be stunned after he has almost exited your range again.
</p>

<p>
  Earthshatter lands almost instantly so trying to block it is difficult. Instead of reacting to his animation you should try to predict it. If your team is grouped up and you see Reinhardt dropping his shield he might be trying to use his Ultimate. It's often worth saving your Ice Wall if you know Reinhardt has his Ultimate. But even if you did not manage to block the Ultimate you still have other options.<br>
  It's best to try and stay away from your team so you will not be stunned along with them. Instead of Ice Walling you can also choose to Cryofreeze. This is much faster and easier. Your team will of course be stunned but you will be able to help them after. A simple Ice Wall between your stunned team and the Reinhardt can give them enough time to get up and recover. You can also choose to Ice Wall under your teammates, lifting them up. This does not put them out of his melee range, but it does make it far safer, especially if the Reinhardt chose to Charge or Firestrike after his Ultimate.
</p>

<p>
  In the middle of a teamfight you might find Reinhardt trying to deal as much damage as he can by swinging around. For this he needs movement speed to properly follow his targets. A short freeze can be all you need to do to stop him from chasing your teammates.
</p>

<p>
  <strong>It will be your job to constantly annoying Reinhardt. Make sure to follow his every move and be ready to counter everything he tries to do.</strong>
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
</p>
