<h2 class="mt-10 mb-3" id="reinhardt">Reinhardt</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Great | Teamfights: Great</span>

<p>
  You're basically Reinhardts worst enemies. For every tool he has you have one that straight up counters it. Let's go over the most common scenario; Reinhardt has his shield up with his teammates right behind him. Either he's on attack and slowly moving towards you, or he is on defense and pratically stationary. In both cases you can counter him in the exact same way; place your Ice Wall behind him. This is easy to do because he is so slow and predictable. 
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
</p>
