<h2 class="mt-10 mb-3" id="roadhog">Roadhog</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Easy | Teamfights: Easy </span>

<p>
  A duel with Roadhog is generally pretty easy, but you do have to play it right. If he hooks you, you will likely die. If you get the jump on him, you will likely win. First up and most importantly; you have to try and bait out his Hook. It can easily be dodged with either your Cryofreeze or your Icewall. From this point on it's time to bully him. You have a few options. Either stun him, headshot him twice, and repeat. This problem with this method is that he will likely heal after the first or second stun, basically resetting the fight. This will likely go on until you run out of ammo. The better method is to bait out his heal. Continiously slow him while leaving him at just the edge of getting stunned. You can weave in shots to get him lower. The very moment he tries to heal simply finish the stun and you will cancel most of that heal and will be able to finish him off with two quick headshots. During all of this you have to be mindful of his Hook. If he at any point manages to hook you during this you will likely die.
</p>

<p>
  You can combo your stun with Blizzard to stun Roadhog for a very long duration. Easily enough time to finish him off. While it will not always be a good idea to solo Ult him, it can be a good idea to Ultimate when there are more enemies around but while focusing on the Roadhog. If you get others, great. If you don't get other, they likely used their Movement abilities to get out, leaving them vulnerable for your teammates.
</p>

<p>
  His Ultimate can interrupted by walking up against the knockback. You will have enough time to stun him and make it out alive. At which point you can either try to kill him or make sure you are healed up first, as you will be low from the Ultimate. You can also Icewall him away, but his Ultimate quickly breaks the pillars. But that extra second you buy might just be enough.
</p>

<p>
  Always keep and eye on Roadhog. Be ready to interrupts any Hooks on you or your teammates. This is most easily done by either walling between the teammates and Roadghog, breaking the hook, or by Icewalling below Roadhog, displacing him and making it more difficult to hit that follow up shot.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Decent</span>

<p>
  With Roadhog on your team you can help him make sure his Hooks will result in a kill. An Icewall behind a hooked target will allow your team to follow up without overextending. This will make sure you can finish off every target, even high health tanks.
</p>

<p>
  Both of your will be playing quite differently, so the two of you don't necessarily work together well. However you do make a formidable team as the enemy will have to deal with two heroes with great pick potential. If they have used their movement abilities to dodge one of you they will be left vulnerable for the other.
</p>

<p>
  Be careful when to use your Blizzard. As you might expect, your Ultimates are a terrible combination.
</p>
