<h2 class="mt-5 mb-3" id="soldier76">Soldier: 76</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Up close, you win; long range, he wins | Teamfights: In your favor</span>

<p>
  In essence duels with Soldier: 76 are simple. If you are up close, you win. If he's out of your range, you are in trouble. But let's look at both scenarios a little closer. Soldier can dish out a lot of damage very quickly, but it requires decent aim and tracking. When up close this can be very difficult. In most cases you will be able to freeze him before he manages to kill you, but it does require you to dodge his rocket. Either by juking it or by blocking it with your Cryo-freeze. Since Soldier has no dashes he can't get away from you and you should be able to freeze him and headshot him. It's always a good idea to go for two headshots on Soldier, just so his Heal won't put him out of range for a headshot + a body shot.<br>
  In long range he has the clear advantage. The fact that he has such low mobility does mean you might be able to get two headshots in, but his damage is a lot more reliable. <strong>In general get close to him and you should be able to take him out.</strong>
</p>

<p>
  In teamfights make sure you know where to find Soldier. Either start the fight by focussing him, especially if he has the high ground, or have your wall ready to potentially block his Ultimate. Of course he can walk around your Icewall in a lot of cases, but it will at least waste some of his time. If he is in close quarters a quick Icewall will completely shut down his ultimate. If he is in close range on for example the objective, place your wall close to your team, so they can use it to hide from his Ultimate.<br>
  <strong>For the most part Soldier is easy to deal with in teamfights, but losing track of him can be deadly.</strong>
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
  Mei lacks reliable damage, especially at a long distance. Luckily this is what Soldier is best at, and thus the both of you work very well together. He can follow up on your Icewalls very well with his Helix Rocket, and take out trapped enemies quickly. If you manage to stun multiple enemies with Blizzard, Soldier will be able to finish them off quicj and easily, even from a distance.<br>
  Since soldier is less about picking off enemies and more about sustained damage, your wall can help him out greatly. Enemies that cannot hide will quickly melt.
</p>
