<h2 class="mt-10 mb-3" id="sombra">Sombra</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: You win | Teamfights: Dangerous</span>

<p>
  Duels with Sombra tend to be easy. Both of you require short range, but you can freeze her faster than she can kill you. Here's how it often goes; Sombra starts to hack you out of nowhere, you turn around with your spray, hit her and break the hack, you almost stun her, and eventually she teleports away. This is totally fine for you as you just wasted all the time she spend setting that up. Even if you can't immediately turn around you can still use your Cryo-freeze right before getting hacked. Your Cryo-freeze lasts longer than the hack and thus you will be safe even if the hack goes through.<br>
  If she has no teleport, she dies with a single stun + headshot. If she is standing on one of her hacked healthpacks you can still take her out with a single stun before the second healthpack respawns.<br>
  <strong>This duel is rather easy for you, and you should always win a straight up 1v1, no matter the circumstance.</strong>
</p>

<p>
  In teamfights Sombra can be very scary, only because of her ultimate. As Mei you control teamfights, if Sombra manages to hack you right at the start of a fight you will be in big trouble. With other heroes you can keep track of them and ready up before they initiate. With Sombra this is a lot more difficult as you can't see her coming. If you think Sombra has her ultimate ready stay away from your team. Keep to the side, on your own. When Sombra uses her Ultimate her team tends to follow up right away. This is your chance to either cut them off or block them altogether. <strong>You wall lasts 5 seconds, while the hack lasts 6 seconds. These 5 seconds are all you need for your team to stabilise and lose the debuff.</strong>
</p>

<p>
  As Mei you tend to play around Healthpacks, Sombra can make this more difficult but it should not impact you much. If you know every nearby healthpack is hacked simply stay closer to your team. On defense you can also choose to focus on a single large healthpack and make sure Sombra can't get to it. This will be map dependant and will come down to your play style.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Decent</span>

<p>
  Both of you are low damage heroes, so a third DPS might be necessary, but it can work pretty well. Your ultimates work very well together. Meis biggest problem is enemies using their mobility to get out of your ultimate. A good hack prevents this. That being said, this is the case for always every ultimate. A good Sombra ultiamte will result in a lot of kills regardless of a follow up Blizzard.<br>
  Another big issue is that your team will not know how to play with a Mei and a Sombra. <strong>If both of you play very well it can work, but it will not be reliable.</strong>
</p>
