<h2 class="mt-10 mb-3" id="symmetra">Symmetra</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: In your favor | Teamfights: In your favor</span>

<p>
  The biggest concern with fighting Symmetra is what she can allow her team to do. Since you play around chokepoints a good teleporter can easily mess up your plans. This is of course mainly a concern when you are on defense. When this does happen you will need to improvise. It will be your top priority to make sure your team is safe and can get in a proper position. What exactly this will involve will depend on the situation and will test your skill as Mei.
</p>

<p>
  When you are on attack you want to make sure to take care of her Turrets as quick as possible. You can use your Icewall to create cover in order to take out turrets at choke points. A single right click or a melee attack will take them out. A spray will take less than a second, but the damage you take might be too high when it involves multiple turrets.
</p>

<p>
  A straight up duel with Symmetra should be in your favor as long as you play it right. A fully charged ball hitting you will put you at a disadvantage. You also cannot stay in your Iceblock for too long as this will allow her to place turrets around you. You will want to try to block the Ball with your Iceblock (Or simply dodge it) and follow it up with a stun and a headshot. Her teleporter takes too long to deploy for her to get away from your before the stun finishes. Her low mobility makes her an easy target.
</p>

<p>
  Her Ultimate can be annoying in the middle of a fight. Enemies can weave in and out making it difficult for you to complete a freeze. It does not block your Ultimate. This makes using Blizzard right on the shield a valid tactic. It will make it more difficult for enemies to play around the shield, as Blizzard will not allow them to get close. However this is highly situational. Where is the shield? What enemies are present? Are there any teammates nearby? All questions that need an answer before deciding if using Blizzard is worth it.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Difficult</span>

<p>
  <strong>Playing with a Symmetra is difficult.</strong> Both of you are short range and have relatively low damage output. You would likely want a third dps to make up for this, but this might always be ideal. To work together properly you will need excellent communication. But with the right plan it can certainly work.
</p>

<p>
  <strong>Your big advantage will be that enemies will not be expecting it and they will not know how to play against it well.</strong> This is especially true when you are on attack. The various attack routes that open up can really surprise enemies. However on defense this is a little different. While the surprise factor is still in play, the enemy can more easily adapt and change their team composition. Unfortunately it is not difficult to counter the two of you so this is not likely to work out for long.
</p>

<p>
  As long as both you and Symmetra know what they are doing and are communicating well it can work out. However the unreliable nature of both of you will make it difficult.
</p>
