<h2 class="mt-5 mb-3" id="torbjorn">Torbjörn</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Easy | Teamfights: You hard counter him</span>

<p>
  Let's start with the most important thing first; <strong>you can stun Torbjörn's turret with your Icewall.</strong> When any part of your Icewall touches the turret, it is completely stunned. It is unable to fire even if the majority of the turret is not in your wall. Not only that, but as long as any part, as tiny as it may be, of the turret is visible, you can hit it right through your wall. Because of this you counter him very hard. Place your Icewall on the turret, while leaving it part exposed, and clean it up without it ever firing a shot.
</p>

<p>
  Most of the times when you encouter a Torbjörn it will be while he is defending. For this reason this is what we will focus on. The first thing you will want to do is locate Torbjörn's turret and plan around it. A common scenario is the turret being behind a shield, most often from Orisa. In this case it might not be worth it to try and take the shield down with your team. It will take a long time and will leave you open to getting poked. Instead try to find a way around the shield. In order to prevent getting shot at by the turret, simply wall it off while you take a different route. If this different route can take you to the objective and out of vision of the turret, you can simply ignore it. Torbjörn will most likely reposition it at this point. In order to upgrade his Turret he has to hit it 5 times at maximum health. Since your spray does continuous damage he cannot upgrade it as long as you are firing at it. At level 1 it deals very little damage so you should be able to fully stun it while taking little damage. At this point your team can easily take it down. A quicker option is to wall Torbjörn away from his turret, not allowing him to heal it at all. The main thing is to keep the turret on a cooldown. Without his turret he can't do much. He can deal a fair amount of damage, but his lack of mobility and his large head leave him very vulnerable. As long as you can isolate his turret he should not be a problem.
</p>

<p>
  Practically the same some for when he uses his Ultimate. Simply wall on top of it to stun it. Either focus it down, or ignore it and focus on more important targets. Taking down the Torbjörn instantly stops the Ultimate and reverts the turret to level 2. You might as well focus him over the turret.
</p>

<p>
  <strong>Armor reduces damage taken by 50%, up to 5 damage maximum.</strong> Your spray deals only 2.25 damage so all of your damage will be halved. Your Icicle only loses 5 damage of the total of 75. Destroying the armor before attempting to stun can greatly increase your damage in duels. However against some enemies it is a bigger priority to freeze them to prevent them from killing you. A stun in to double headshot will still take out most of the roster, even with the reduced damage from the armor.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Decent</span>

<p>
  Enemies tend to focus on the turret. It dies quickly and without it most of the threat is gone. As Mei you can protect the turret very well. Use your Icewall to defend it, or stun enemies trying to kill the turret. You can also protect Torbjörn while he heals and upgrade the turret.
</p>

<p>
  Unfortunately that is about where your synergy ends. If the turret dies you are in trouble. You will severely lack damage the moment the Turret goes down. Especially because you will likely be running shield tanks to defend the turret. This can be countered by running a third dps instead of a second tank. Especially because Mei is somewhat tanky, paired with the added tankiness of Torbjörn's armor.
</p>

<p>
  The combination can work well, but a dive composition will make quick work of your team. There's some maps where it can work, but in general it's not reliable. In the <%= link_to "Team compositions", "#team-compositions" %> chapter we will go more in-depth.
</p>

<p>
  Be aware that your wall can not only block the vision of the turret, it can also stun it just like it stuns an enemy turret.
</p>
