<h2 class="mt-10 mb-3" id="torbjorn">Torbjörn</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic"></span>

<p>
  I don't yet have enough experience playing against the new and improved Torbjörn to make a proper judgement. Check back another time!
</p>
