<h2 class="mt-5 mb-3" id="tracer">Tracer</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Skill matchup, but skewed towards Tracer | Teamfights: In your favor</span>

<p>
  In theory it's very simply; headshot her. A single headshot takes her out. In practice it's like trying to hit a fly with a toothpick. Trying to hit her from a distance will come down to luck. Get up close, really close, melee distance close. From here it is much easier to hit her since you don't have to account for travel distance. The most important part is getting good at flick shots. Don't try tracking her or predicting her movement. Instead react on her movement. Even a body shot is alright since this will likely force a Recall.
</p>

<p>
  Tracer isn't great in teamfights, but make sure your supports are not being harrassed by her. She will often hang out in the back of your team. Grab her attention and try to force out that ultimate, as you can easily block it with your Cryo-freeze.
</p>

<p>
  If you and your team get caught in a Zarya ultimate, and you know Tracer might have her ultimate, Icewall below you. This lifts your team away from the Tracer ultimate.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Decent</span>

<p>
  Both of you play a similar role and deal little damage. Having both of you in one team can result in a lack of damage. A third DPS can help. If you have a Roadhog as a tank you will have 3 self heals in total, and thus can drop a healer as long as the remaining healer has high healing output. Such as Ana, Mercy or even Moira.<br>
  You don't synergise very well as you tend to be in different positions of the map. That being said, the two of you can make the lives of the enemies supports a living hell. This alone can win you games, but it is not a reliable stategy.
</p>
