<h2 class="mt-5 mb-3" id="widowmaker">Widowmaker</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Unfavorable | Teamfights: Able to control Widowmaker</span>

<p>
  Duels with Widowmaker are highly situation and map dependant. A straight up 1v1 is not going to happen, and if it does she will have a large advantage. You will want to seek her out and flank her. Once you get in melee range of her the duel should be yours. The difficulty lies in getting to her. On Escort and Assult maps you can pretty much forget about trying to sneak up on her. Usually the distance is too far, and there's little room to sneak around. On top of that, you usually have different priorities. However Control maps tend to be far more open with far less height. Allowing you to get close to Windowmaker fairly easily. Once you get to her focus on trying to freeze her as soon as you can. Make sure to use your Icewall to block escape points as she is sure to try and Grapple away.
</p>

<p>
  When sneaking around is not an option you can still focus her. When you notice Widowmaker is not focusing you and instead is trying to kill your teammates you can try and go for headshots. She usually stands still when she's aiming and this is your chance. Your headshots deal a great amount of damage, even when at a decent range. This will put her in range to either kill her with a second short, or for your dive tanks or flankers to quickly take her out. At worse you will force her to retreat. When she is at a really far range it is not worth trying, your headshots will deal only 44 damage.
</p>

<p>
  If she's in an annoying location that gives her a great vantage point over your team you can simply wall her off to force her to reposition. This will win your team a few seconds and give your team an opportunity to engage while the Widowmaker is still positioning herself. She will also most likely use her Grapple to get to this new location, allowing your tanks to collapse on her while her get-away is still on cooldown.
</p>

<p>
  Your Icewall can also be great to temporarily give your team some breathing room. If you see some of your teammembers are dropping low, wall them away from Widowmaker so she can't hit them. When close to a Widowmaker you can use your Icewall close to her, walk to up the Icewall, drop it, and surprise the Widowmaker now that you are suddenly up close. This also prevents her from landing easy shots in long corridors.
</p>

<p>
  Keep in mind that your Cryo-freeze removes the Poison Mine debuff as well as the vision it grants.
</p>

<p>
  <strong>Whether or not you will be focusing the Widowmaker is highly situation.</strong> It all depends on the map, her position, your team composition and the enemy team composition. This will mostly come down to experience, but we will try and go more in-depth in the <%= link_to "Team compositions", "#team-compositions" %> chapter.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Below average</span>

<p>
  Playing together with a Widowmaker opens up some interesting synergy. Unfortunately it is very difficult to excecute and will require a very skilled Widowmaker. One of Widowmaker's biggest counters is a shield. If you're hidden behind a shield she can't hit you and trying to take down a shield will take her a long time and will give away her position. <strong>With Mei you can use your Icewall to temporarily lift enemies up from this shield. This allows Widowmaker to quickly hit them.</strong> As you can imagine, this will require solid communication and even more solid flickshots from your Widowmaker. Another option is to place your wall inside of an Orisa shield, forcing enemies to either wait out your wall or move away from it, possibly exposing them to Widowmaker.
</p>

<p>
  Unfortunately that is where the synergy ends. Both of you are relatively low damage, and thus your team might lack the firepower to blow through shields or to finish targets off. You also both lack AoE, making teamfights more difficult.This can be somewhat fixed with high DPS tanks, or with a third dps, replacing one of the tanks or healers. A tank can be replaced when your team has the spawn advantage. A healer can be replaced incase you run a Moira or a Mercy. In this case the healer will most likely not be able to healer the Widowmaker, as she will be far away from the team.
</p>
