<h2 class="mt-10 mb-3" id="window">Winston</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Difficult | Teamfights: In your favor</span>

<p>
  It can be difficult to duel a Winston. First up, his Jump Pack deals a surprising 45 damage. Dodging this damage is a top priority, but the problem is that you can't use your Cryofreeze as it will be crucial to use it to heal up. Next up you will have to try and stun him, but this also is no easy task. With his shield up he can constantly weave in and out of the shield to prevent getting stunned. The same goes for trying to shoot him. The constant weaving makes it difficult to reliably hit him. Even if you do manage to stun him he will likely turn around before getting fully stunned. His head is relatively low down, making it difficult to land headshots. As a result of all of this it is better to run. Make sure to slow him while running, his range is very short and Winston will have a difficult time keeping up. Use your Icewall to get somewhere high. Winston has likely used his Jump Pack to get to you so he won't be able to follow you.
</p>

<p>
  With your team around this all changes. The slow you provide will force Winston to jump away, leaving him vulnerable for your longer range teammates. You can also block his jump with your Icewall by placing it close to him. With his escape on cooldown he is an easy target.
</p>

<p>
  When he uses his Ultimate try to stay close to him and stun him. Once stunned you can kill him surprisingly quickly with the help of your teammates. His model is massive so all your teammates should be able to hit him for large amounts of damage.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Decent</span>

<p>
  You and Winston don't do anything special together, but he makes up for a lot of the things you lack. It can sometimes be difficult to reach the backline as Mei, but for Winston this is no problem.
</p>

<p>
  You can help Winston chase down targets by slowing them. But since Winston has no burst damage there is not necessarily a need to try and work together with Winston. Your abilities are greatly enchanced by teammates following up on them, and Winston does not have the follow up that is necessary.
</p>

<p>
  There's nothing wrong with having both Mei and Winston in one team, but don't expect to be working together to get kills very often.
</p>
