<h2 class="mt-10 mb-3" id="wreckingball">Wrecking Ball</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Very much in your favor | Teamfights: Make him your bitch</span>

<p>
  When it comes to counters, you are probably the hardest counter to Wrecking Ball of all counters in the game. Everything you do works against what he is trying to do.
</p>

<p>
  <strong>A stationary Wrecking Ball is a dead Wrecking Ball.</strong> If he comes flying in a simple wall will immediately stop his momentum. You can follow this with a slow and a stun. When one on one with Wrecking Ball a kill can take a while. While he is in ball form he has no Head hitbox so shots will only deal 75 damage. It will take atleast 3 stuns to get him down, not even counting his shield. Luckily he has nothing stopping you from doing so. His damage is too low to duel you and he cannot get away fast enough as long as you keep your slow on him. You can even decide not to stun him and just continuously keep him right on the edge of being stunned.
</p>

<p>
  Now of course a 1v1 isn't common against Wrecking Ball. You will mostly find him trying to initiate or disrupt a teamfight. For this reason it can be a good idea to keep an eye out for him and block him whenever you can. If he does manage to dive hard in to your team, <strong>focus him</strong>. If you stun him your team can very quickly deal with him. Keep him escape route in mind. Wrecking Ball is a very easy target once he has no where to go.
</p>

<p>
  His Ultimate is also very easy for you to counter. A simple Icewall in the middle of all the mines takes care of over half of them. The rest can also be dealt with easily with your spray. Another option is to use your Ultimate. The spread of both your Ultimates is similar. <strong>Your Blizzard will very quickly take care of all the mines.</strong> In the right situation you can also catch Wrecking Ball himself, but even just taking care of his mines can be a decent usage of Blizzard. But that does depend on the situation and team compositions.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Good</span>

<p>
</p>
