<h2 class="mt-10 mb-3" id="zarya">Zarya</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: In your favor | Teamfights: Annoying</span>

<p>
  A Zarya bubble cleanses your freeze. It removes the slow but also the stun. In theory this sounds like a direct counter, but in practice it's not too difficult to deal with. In a nutshell; wait. When encoutering Zarya it will often go the same way. You start to slow her, she bubbles herself, and will try to kill her. When she is not charged her damage is hardly a threat to you. Simply wait out the bubble (Either by dodging her abilities or by using Cryofreeze) and stun her when the bubble ends. Two headshots while stunned followed by a body shot after the stun will take her out without much worry.
</p>

<p>
  Be mindful of how charged she is. Anything under 50% and you should be fine, anything above and you should be careful. In teamfights you can try to focus Zarya to make sure she dies before she gets charged. When she is focusing your teammates you can easily stun her. When she is focusing your (while charged) be careful and just play it safe.
</p>

<p>
  Her ultimate can be countered to some extend. If you and your team are caught simply Icewall in the way between you and your enemies. The time you win will likely be enough. Alternatively you can Icewall below your feet. This will put you out of range of a lot of combos such as Hanzo or Tracer. Having the wall below you will also allow you to somewhat move around. You will also be pulled back to the center, but the little bit of movement might help you dodge shots.
</p>

<p>
  Zarya has no mobility or burst damage so she is a good target to try and Icewall away from her teammates. You can also Icewall her in the middle of a teamfight to prevent her from shielding her teammates.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
  Zarya allows you to go a little more agressive than you normally should. Her shield allows you get right in the face of some scary enemies without having to worry too much about dying.
</p>

<p>
  Her Ultimate is often countered by Zenyatta. You can two good counters for this. You can either Icewall the Zenyatta away from his teammates while in the Graviton, although this is difficult to pull off. Zenyatta his Ultimate does not go through your Icewall and thus it has no effect. Another option is to also use your Blizzard. Don't use it right away, but wait one or two second before Graviton ends. This will stun enemies right as the Graviton ends. Zenyatta his Trancendance will likely be over or almost over at this point. <br>
  You can also freeze and stun everyone in the Graviton with your Endothermic Blaster. Since the spray penetrates enemies you can easily get a multi man stun.
</p>

<p>
  A friendly Zarya's right click can be a little annoying when trying to line up a headshot on a frozen enemy. This will displace them ever so slightly, pushing them just outside your crosshair in some cases.
</p>
