<h2 class="mt-10 mb-3" id="zenyatta">Zenyatta</h2>

<h3 class="mb-1">Against</h3>
<span class="text-small mb-2 font-italic">Duels: Great | Teamfights: Great</span>

<p>
  Zenyatta is very vulnerable. He has practically no mobility and he is difficult to deal a lot of damage with. Especially at lower ranks he is hardly a threat to you. His right click charge makes a very distinct loud noise. As long as you do not get hit by this you should by able to deal with him without a problem. Even if he catches you off guard, your Cryofreeze can either block most of the right-click or heal you back up far enough to get you out of the danger zone. <br>
  There's many ways to reliably kill him. A stun is easy enough to complete, your wall leaves him very vulnerable, and even your right-click is not difficult just because of how little he has to defend himself. If you're close enough, a stun is almost always your best bet, if you're far away you can either go for left-clicks, or if you're having difficulty aiming you can try and block his path with your Icewall and run up to him.
</p>

<p>
  At higher ranks you will want to be more careful. A Zenyatta with good Aim can make quick work of you. Use your Icewall to defend yourself rather than to catch Zenyatta. Save your Cryofeeze his right-click. He's most likely going to dominate the long range battle so try to get close to him. You can also use your Icewall to assist your teammates. If you see your tanks dive in to get him you can help them out by blocking his way out or blocking view from his teammates.
</p>

<p>
  Zenyatta is a great target to focus in a teamfight. But beware, his teammates will likely be ready to come to his aid. But even so you will still be focusing him. Your primary goal is not even to kill him, it's to force him to use his Transcendence. If his Transcendence is used (or Zenyatta is dead) your teammates have free reign to their Ultimates in return. <br>
  Even if you go in a fight knowing he does not have his Ultimate, he is still a great target to focus just because of how vulnerable he is.
</p>

<p>
  When Zenyatta uses his Transcendence try to block him with your Icewall. Blocking him straight out of a room is of course ideal, but that's not going to happen often. He needs line of sight in order to heal, so even blocking him for just a second can be enough. <br>
  When your Zarya has caught enemies in her Ultimate and Zenyatta uses his Transcendence you can try and separate him from some of his teammates. This is difficult to pull off, but worth a shot. You might just be able to kill one or two of them that would otherwise have been safe in his Ultimate. <br>
  Another decent counter is your Blizzard. If you use it towards the end of the Graviton the enemies will be stunned and Transcendence will end while they are still stunned.
</p>

<h3 class="mb-1">With</h3>
<span class="text-small mb-2 font-italic">Synergy: Great</span>

<p>
  Mei is a great tank buster. Zenyatta amplifies that with his Discord orb. Together you can make quick work of anyone. Try to focus targets that Zenyatta has placed his Discord Orb on, or call out targets you are focusing.
</p>

<p>
  Zenyatta is very vulnerable to dive characters. Luckily you are great at peeling them away from him. Keep an eye on your Zenyatta and use your Icewall accordingly. Try to stun them as quick as you can rather than going for headshots. Zenyatta will want to put distance between him and whoever is attacking him. Additionally once they are stunned you can quickly take them out with the help of Zenyatta.
</p>

<p>
  Be careful when caught in an enemy Graviton Surge. It's often a good idea to try and place and Icewall between you and the enemies, but be careful to not block Zenyatta from using his Transcendence to heal you and your teammates.
</p>
