:root {
  @media (max-width: map-get($breakpoints, md)) {
    --space-5: 3rem;
    --space-10: 4rem;
  }
}

body {
  @include apply((my-0, mx-auto, py-5, px-4, text-white, bg-black));
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Lora", serif;
  max-width: 1920px;

  @include breakpoint(md) {
    @include apply((py-10, text-normal));
  }
}

a {
  @include apply((text-dark, bb-2, b-dark, text-none, font-bold));

  &:hover {
    @include apply((text-primary, b-primary));
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.25em;
  font-family: "Spectral SC";
}

h1 {
  @media (max-width: map-get($breakpoints, md)) {
    font-size: 3.1rem;
  }
}

h2 {
  @media (max-width: map-get($breakpoints, md)) {
    font-size: 2.25rem;
  }
}

.text-large {
  line-height: 1.5em;
}

.overflowing-columns {
  width: 100%;

  div,
  img {
    &:first-child {
      width: calc(50vw - #{(spacing(4) * 2)});
    }

    &:last-child {
      width: calc(#{map-get($breakpoints, mw) / 2} / 2 + #{spacing(4) * 2});
    }
  }
}

.content-toggle {
  @include apply((relative, py-1, text-small, text-dark, font-italic, bb-2, b-primary));
  cursor: pointer;

  &:hover {
    @include apply((b-dark))
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 0;
    -webkit-appearance: none;

    &:checked + .content-toggle__inner {
      @include apply(block);
    }
  }

  &__inner {
    @include apply(mt-3);
    display: none;
  }
}
