@import "flake/colors-list";

$css-variables: true;

$font-families: (
  serif: "Lora",
  titles: "Spectral SC"
);

$title-sizes: (
  h1: 4em,
  h2: 2.5em,
  h3: 1.75em
);

$font-sizes: (
  small: .85em,
  normal: 18px,
  large: 1.15em
);

$spacing: (
  0: 0,
  1: .25rem,
  2: .5rem,
  3: 1rem,
  4: 2rem,
  5: 4rem,
  10: 8rem,
  auto: auto
);

$full-colors: false;
$theme-colors: (
  primary: #87d7f6,
  secondary: darken(#87d7f6, 20%),
  light: #f0edf2,
  dark: map-get(map-get($colors-list, gray), 700),
  white: #fff,
  black: #000
);

$important: false;
